<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    <!-- Preloader -->
    <div class="preloader">
        <img src="/dist/images/logos/favicon.svg" alt="loader" class="lds-ripple img-fluid" />
    </div>
    <!-- Preloader -->
    <div class="preloader">
        <img src="/dist/images/logos/favicon.svg" alt="loader" class="lds-ripple img-fluid" />
    </div>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-theme="blue_theme" data-layout="vertical" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        {{#ifEquals datas.users.user_type "-1"}}
        {{> admin/includes/menu_admin}}
        {{else ifEquals datas.users.user_type "1"}}
        {{> admin/includes/menu_operator}}
        {{else ifEquals datas.users.user_type "3"}}
        {{> admin/includes/menu_user}}
        {{/ifEquals}}
        <!--  Sidebar End -->
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <!--  Header Start -->
            {{> admin/includes/header}}
            <!--  Header End -->
            <div class="container-fluid">
                {{> (content) }}
            </div>
        </div>
    </div>

    <!--  Import Js Files -->
    <script src="../../dist/libs/jquery/dist/jquery.min.js"></script>
    <script src="../../dist/libs/simplebar/dist/simplebar.min.js"></script>
    <script src="../../dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!--  core files -->
    <script src="../../dist/js/app.min.js"></script>
    <script src="../../dist/js/app.init.js"></script>
    <script src="../../dist/js/app-style-switcher.js"></script>
    <script src="../../dist/js/sidebarmenu.js"></script>
    <script src="../../dist/js/custom.js"></script>
    <!--  current page js files -->
    <script src="../../dist/libs/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="../../dist/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="../../dist/js/dashboard.js"></script>
</body>

</html>